.profile {
  display: flex;
  align-items: center;
  padding: 0 1.25em;
  margin-top: auto;
  height: 72px;
  border-bottom: 1px solid #dbdbdb;
  flex-shrink: 0;

  .text-container {
    display: flex;
    flex-direction: column;
    padding-left: 1.5em;

    .post-author {
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .location {
      font-size: 12px;
    }
  }
}
