.current-user__avatar {
  height: 22px;
  width: 22px;
  background-color: #dbdbdb;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.comment-user__avatar {
  height: 35px;
  width: 35px;
  background-color: #dbdbdb;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
