.sidebar {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 598px;
  width: 334px;
  justify-content: space-between;

  .comments {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 0 1.25em;
  }

  .comments::-webkit-scrollbar {
    display: none;
  }
}

.comments-footer {
  border-top: 1px solid #dbdbdb;
  height: 116px;
  margin-bottom: auto;
  flex-shrink: 0;
}

.comment-meta {
  padding: 0 1.25em;
  border-bottom: 1px solid #dbdbdb;
  flex-shrink: 0;
  height: 60px;
}

.comment-count {
  padding-top: 15px;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 4px;
}

.comment-date {
  font-size: 10px;
  font-weight: 300;
  color: #8e8e8e;
}

.add-comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  padding: 0 1.25em;
  outline: none;

  .comment-text {
    color: #8e8e8e;
    border: none;
    border-width: 0px;
    height: 20px;

    &.hover {
      outline: none;
    }

    &.focus {
      outline: none;
    }
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
}

.comment-submit {
  font-weight: 700;
  font-size: 14px;
  color: #0095f6;
  border: 0;
  padding: 0;
  background: 0 0;
  height: 55px;
  flex-shrink: 0;
}
